@font-face {
	font-family: "Noto IKEA";
	src:
		url("https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400.latin.5a052965.woff2"),
		url("https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700.latin.a3f10ed8.woff2");
}

:root {
	/* Font */
	--font-family: "Noto IKEA", "IKEA Noto Sans", "Noto Sans", Arial, sans-serif;
	--line-height: 1.5;
	--font-weight-reg: 400;
	--font-weight-bold: 700;

	/* Font Sizes */
	--font-size-base: 16px;
	--h1-size: 2.25rem; /* 36px */
	--h2-size: 1.125rem; /* 18px circa - Sottotitoli */
	--price-size: 1.5rem; /* 24px */
	--small-size: 0.875rem; /* 14px */
	--footer-top-links-size: 1.25rem; /* 20px */
	--footer-bottom-links-size: 14px;

	/* Colori */
	--color-white: #ffffff;
	--color-black: #111111;
	--color-grey-dark: #484848;
	--color-grey-light: #f5f5f5;
	--ikea-blue: #0058a3;
	--ikea-yellow: #ffdb00;

	/* Layout & Spazi */
	--padding-card: 1.5rem; /* 24px desktop */
	--padding-card-mobile: 1rem; /* 16px mobile */
	--section-gap: 2.5rem; /* 40px tra blocchi */
	--container-max-width: 90rem;
	--container-spacing: 1.5rem;
	--grid-gap: 1.25rem;
	--desktop-row-height: calc((var(--container-max-width) - (var(--container-spacing) * 2) - var(--grid-gap)) / 2);
	--intermediate-row-height: calc(50vw - 2.25rem);
	--mobile-row-height: calc(100vw - 2rem);
}

/* STYLING HEADER */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	background-color: #ffffff;
}

.navbar {
	font-family: var(--font-family);
	max-width: var(--container-max-width);
	height: 6rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--container-spacing);
}

.logo {
	font-size: 22px;
	font-weight: bold;
	color: #0058a3;
	letter-spacing: 1px;
}
.nav-links {
	display: flex;
	gap: 30px;
}

.nav-links a {
	text-decoration: none;
	color: #111;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	transition: all 0.2s ease;
}

.nav-links a:hover {
	border-bottom: 2px solid #111;
}

/* STYLING MAIN */
.main-content {
	display: grid;
	grid-template-columns: repeat(
		6,
		1fr
	); /* 2 colonne con un gap di 20px (10px da ogni lato). chiedere una cosa a Monica qui */
	gap: var(--grid-gap);
	max-width: var(--container-max-width);
	margin: auto;
	padding: 0 1.5rem;
	padding-bottom: 5rem;
	grid-template-rows: calc(100vh - 6rem - var(--grid-gap));
	grid-auto-rows: var(--desktop-row-height);
	font-family: var(--font-family);
}

.main-content section:first-child {
	grid-column: span 4;
}

.main-content .ikea-card--shopping {
	grid-column: span 2;
}

.shopping-container {
	background-color: var(--ikea-yellow);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.shopping-link {
	flex-grow: 1;
	padding: 1rem 3.125rem;
	min-height: 6.25rem;
	text-decoration: none;
	color: var(--color-black);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.shopping-title {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 41px;
}

.arrow-container {
	background-color: var(--color-black);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-right {
	transform: rotate(180deg);
	color: var(--color-white);
}

.store-selector-input {
	display: flex;
	font-size: 1rem;
	border-top: 0.0625rem solid #fffefb;
	border-bottom: 0.0625rem solid #fffefb;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-container {
	border-radius: 0.5rem;
	width: 100%;
	margin: 1rem 1rem;
	position: relative;
	padding: 0.625rem;
	background-color: #fff094;
}

.search-icon {
	position: absolute;
	left: 1.25rem;
	top: 1.375rem;
}

#search-input {
	font-family: var(--font-family);
	font-size: 1rem;
	width: 100%;
	border: none;
	padding: 0.75em 0 0.75em 2.625em;
	border-radius: 0.5rem;
}

#search-input:focus {
	outline: none;
}

.search-options {
	overflow: auto;
	list-style: none;
	padding: 0;
	height: 7.5rem;
}

.option {
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	width: 100%;
	height: 2.5rem;
	font-size: 1rem;
	background-color: #fff094;
}

.option:hover {
	background-color: #ffffff80;
}

.selector-button {
	font-family: var(--font-family);
	display: flex;
	position: relative;
	align-items: center;
	font-size: 1rem;
	justify-content: space-between;
	background-color: #fff094;
	width: 100%;
	border-top: 0.0625rem solid #fffefb;
	min-height: 6.25rem;
	padding: 1rem 3.125rem;
	border: none;
	color: var(--color-black);
}

.chosen-store {
	font-weight: var(--font-weight-bold);
}

.ikea-card {
	grid-column: span 3;
	position: relative; /*  fa da "ancora" per il contenuto sopra */
	width: 100%;
	height: 100%;
	overflow: hidden; /*Taglia quello che esce fuori */
	border-radius: 12px; /* Per l'effetto arrotondato che si vede in mobile */
}

.ikea-card--full {
	grid-column: span 6;
}
.carousel-section {
	grid-column: span 6;
	width: 100%;
}

.carousel-item {
	display: none;
}

.ikea-card--light .card-title,
.ikea-card--light .card-desc {
	color: black !important;
}
.card-media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Fa sì che il video riempia la card senza deformarsi */
	z-index: 1; /* Sta sotto */
}

.card-media img,
.card-media video {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Taglia l'eccesso senza deformare */
}

.card-overlay {
	position: relative;
	z-index: 2; /* Sta sopra al video/immagine */
	height: 100%;
	padding: var(--padding-card);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.card-title {
	color: white;
	font-size: var(--h1-size);
	font-weight: var(--font-weight-bold);
	margin: 0;
	line-height: 120%;
}

.card-desc {
	color: white;
	font-size: var(--h2-size);
	margin: 0;
}

.image-dark-overlay {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.55) 80px, rgba(0, 0, 0, 0) 200px);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

/*Smartphone */
@media (max-width: 768px) {
	.navbar {
		height: 4.25rem;
	}

	.main-content {
		grid-template-columns: 1fr;
		gap: 15px;
		padding: 0 1rem;
		padding-bottom: 4rem;
		grid-auto-rows: var(--mobile-row-height);
	}

	.main-content section.ikea-card,
	.carousel-section {
		grid-column: span 1;
	}

	.card-overlay {
		padding: var(--padding-card-mobile);
	}

	.card-desc {
		font-size: 0.75rem;
	}

	.card-title {
		font-size: 1rem;
	}
}

/* Tablet */
@media (min-width: 769px) and (max-width: 90rem) {
	.main-content {
		grid-auto-rows: var(--intermediate-row-height);
	}
}

@media (max-width: 1250px) {
	.shopping-link {
		padding: 1rem 1.25rem;
	}

	.shopping-title {
		font-size: 1.4rem;
	}
}

@media (min-width: 769px) and (max-width: 64rem) {
	.card-overlay {
		padding: var(--padding-card-mobile);
	}

	.card-desc {
		font-size: 1rem;
	}

	.card-title {
		font-size: 25px;
	}
}

/* STYLING FOOTER */
footer {
	position: relative;
	width: 100%;
	font-family: var(--font-family);
	background-color: #000;
	padding: 8.75rem 1.5rem 1rem 1.5rem;
	overflow: hidden;
}

footer a {
	color: var(--color-white);
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.footer-logo-container {
	max-width: 75rem;
	margin: auto;
	margin-bottom: 5rem;
}

.footer-logo {
	display: block;
	background: repeating-linear-gradient(-45deg, #b79e05 0%, #b79e05 35.6%, #b7b7b7 35.6%, #b7b7b7 71.2%);
	animation: movingStripes 8s linear infinite;
	position: relative;
	z-index: 1;
}

.footer-logo--frame,
.footer-logo--letter {
	fill: var(--color-white);
}

.top-links {
	margin-top: 1rem;
	margin-bottom: 2.25rem;
	line-height: 32.5px;
}

.top-links ul {
	font-size: var(--footer-top-links-size);
	padding: 0;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.top-links li {
	list-style: none;
}

.top-links .footer-dot {
	margin: 0 1.5rem;
}

.top-links,
.footer-dot {
	color: var(--color-white);
}

.bottom-links {
	margin: 1rem 0;
}

.bottom-links a,
.bottom-links .footer-dot,
.copyrights {
	font-size: var(--footer-bottom-links-size);
	opacity: 0.6;
	line-height: 1.375rem;
}

.bottom-links ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bottom-links li {
	list-style: none;
}

.bottom-links .footer-dot {
	margin: 0 1.25rem;
}

.copyrights {
	color: var(--color-white);
	display: flex;
	justify-content: center;
}

@keyframes movingStripes {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 75rem;
	}
}

@media screen and (max-width: 48rem) {
	footer {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.logo-container {
		margin-bottom: 3rem;
	}

	.top-links {
		line-height: 26px;
	}

	.top-links ul {
		flex-direction: column;
	}

	.top-links li {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}

	.top-links .footer-dot {
		display: none;
	}

	.bottom-links .footer-dot {
		margin: 0 0.75rem;
	}
}
